body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

#map-container {
    width: 90%;
    margin: auto;
}

svg {
    width: 100%;
}

.country {
    fill: #1e293b;
    stroke: #ffffff;
    stroke-width: 0.3;
    cursor: pointer;
    transition: 0.2s;
}

.country:hover {
    fill: orange;
}

.player {
    fill: lime !important;
}

.enemy {
    fill: crimson !important;
}

.attackable {
    fill: yellow !important;
}

#info {
    margin: 20px;
    font-size: 18px;
}
