body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

#controls {
    margin: 15px;
}

#grid {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid #333;
    background: #222;
    cursor: pointer;
}
